#projects {
    padding: 2rem;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project-card {
    margin: 1rem;
    flex: 1 1 calc(33.333% - 2rem);
  }
  